<!--<div class="container">
  <div class="row">
    <div class="col-lg-6 well mt-5">
      <form #userLogin="ngForm" (ngSubmit)="submitClicked(userLogin.value);">
        <h2>Login Template Driven Form</h2>

          <div class="form-group">
            Email :
            <input type="text" name="email" class="form-control" ngModel/>
          </div>

          <div class="form-group">
            Password :
            <input type="password" name="password" class="form-control" ngModel/>
          </div>

          <div class="form-group pt-2">
          <input type="submit" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </div>


    <div class="col-lg-6 well mt-5">
      <form #registerLogin="ngForm" (ngSubmit)="registerClicked(registerLogin.value);">
        <h2>Registration Template Form</h2>

        <div class="form-group">
          Name :
          <input type="text" class="form-control" name="name" ngModel/>
          </div>

        <div class="form-group">
        Email :
        <input type="text" class="form-control" name="email" ngModel/>
        </div>

        <div class="form-group">
        Password 
        <input type="password" class="form-control" name="password" ngModel/>
      </div>

      <div class="form-group">
        Confirm Password :
        <input type="password" class="form-control" name="cpassword" ngModel />
        </div>

        <div class="form-group pt-2">
        
        <input type="submit" value="Login" class="btn btn-primary" />
      </div>

      </form>
    </div>
  </div>
</div>-->


<div class="container">
  <div class="row">
    <div class="col-lg-6 well mt-5">
      <form [formGroup]="formdata" (ngSubmit)="onClicksubmitMyData(formdata.value);">
        <h2>Login Model Driven Form</h2>

          <div class="form-group">
            Email :
            <input type="text" name="email" class="form-control" formControlName="email"/>
          </div>

          <div class="form-group">
            Password :
            <input type="password" name="password" class="form-control" formControlName="password"/>
          </div>

          <div class="form-group pt-2">
          <input type="submit" [disabled]="!formdata.valid" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </div>

    Email : {{email}}
    <br/>
    Password : {{password}}

    <div class="col-lg-6 well mt-5">
      <!--<form [formGroup]="formdata" (ngSubmit)="onClickregisterMyData(formdata.value);">-->
        <form [formGroup]="formdata">
        <h2>Registration Model Template Form</h2>

        <div class="form-group">
          Name :
          <input type="text" class="form-control" name="name" formControlName="name"/>
          </div>

        <div class="form-group">
        Email :
        <input type="text" class="form-control" name="emailId" formControlName="emailId"/>
        </div>

        <div class="form-group">
        Password 
        <input type="password" class="form-control" name="pwd" formControlName="pwd"/>
      </div>

      <div class="form-group">
        Confirm Password :
        <input type="password" class="form-control" name="cpassword"  formControlName="cpassword" />
        </div>

        <div class="form-group pt-2">
        
        <input type="submit" value="Login" class="btn btn-primary" />
      </div>

      </form>
    </div>
  </div>
</div>

